@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #0D0D0D;
    color: #B1B1B1;
    padding: 48px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 140px;
}

header ul.main-menu{
    display:flex;
    flex-direction: row;
    gap: 24px;
}

header ul.main-menu li a{
    font-size: 1rem;
    color: #8C8C8C;
    font-weight: 700;
    transition: all 150ms ease-in;
    position: relative;
}

header ul.main-menu li a:hover{
    color: #fff;
}

header ul.main-menu li a.active{
    color: #fff;
    padding-bottom: 12px;
}
header ul.main-menu li a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0665EF;
    height: 6px;
    width: 100%;
}


.buttons-top{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.buttons-top a{
    color: #AFAFAF;
    padding: 10px 16px;
    position: relative;
    padding: 8px 16px 8px 40px;
    border-radius: 26px;
    transition: all 150ms ease-in;
}

.buttons-top a::before{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 9px;

}

.buttons-top a.curriculo::before{
    background: url('../img/anexo-icon.svg');
}

.buttons-top a.linkedin::before{
    background: url('../img/linkedin-icon.svg');
}

.buttons-top a:hover{
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
}

section{
    margin: 40px auto;
}

section.hero{
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

section.hero .main-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
}

section.hero .main-text h3 {
    color: #B1B1B1;
    font-size: 3rem;
}

section.hero .main-text h3 a{
    color: #B1B1B1;
    font-size: 3rem;
    text-decoration: underline;
    color: #0665EF;
}

section.hero .main-text h6 {
    color: #B1B1B1;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}

