@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:300,400,700&display=swap');

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 200px;
    background: #fff;
    border: 1px solid #29d;
  
    overflow: hidden;
  }
  
  .pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  
    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #29d;
  }
  
  .pace.pace-inactive {
    display: none;
  }

.logo-back{
    text-decoration: none;
    display: inline-block;
    transition: all 450ms ease-in-out;
    height: 50px;
    animation: slideIn 650ms;
}

.logo-back:hover svg.back-page{
    margin-left: 5px;
    transition: all 450ms ease-in-out;
}

.logo-back:hover svg.logo-page{
    margin-left: 10px;
    transition: all 450ms ease-in-out;
}

svg.back-page{
    width: 30px;
    height: 20px;
    fill: #0665ef;
    transform: rotate(180deg);
    transition: all 450ms ease-in-out;
    margin-right: 6px;
}
svg.logo-page{
    width: 65px;
    height: 25px;
    fill: #0665ef;
    transition: all 450ms ease-in-out;
    transform: translateY(4px)
}

html{height: 100%;}

body{
    font-family: Montserrat;
    padding: 30px;
    margin: 0;
    
}





.main-wrap{
    width: 100%;
    height: calc(100vh - 120px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column;
}

.main-wrap.sobremim{
    background: #0665ef;
}

header{
    display: flex;
    height: 80px;
    flex-direction: row;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 31px;
    padding: 20px;
    width: 100%; 
    background: #fff;
    animation: slideInDown 300ms;
}
header img{
    align-self: center;
    flex-wrap: nowrap;
    flex: 1;
}
header .lottie{
    margin: 0 auto;
}
.content-wrap{
    flex-grow: 1;
    display:flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: column
}

.content-wrap h1{
    font-size: 70px;
    font-weight: bold;
    line-height: 0.84;
    text-align: left;
    color: #d4d4d4;
    margin: 0 0;
    flex-direction: row;
    animation: slideIn 200ms;
}

section{
    flex-direction: row;
    margin-bottom: 40px;
    flex-wrap: nowrap;
    animation: slideIn 350ms;
}


section p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.81;
    text-align: left;
    color: #848484;
}
section h4{
    font-size: 18px;
    font-weight: bold;
    color: #0665ef;
    margin: 40px 0px 0 0;
}   
section ul{
    margin: 20px 0px;
    color: #848484;
}

section ul li{
    margin: 20px 0;
}

section div.empresas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
}
section div.empresas div{
    max-width: 140px;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 1; */
    margin: 5px;
    padding: 10px;
}

section div.empresas div:first-child img{
    width: 120%;
}
section div.empresas img{
    object-fit: contain;
    width: 100%;
}
ul.main-menu{
    list-style: none;
    padding: 0;
    margin: 90px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items:center ;
    
}
#main.is-exiting{
    animation: slideOut;
    animation-duration: 500ms;
}
#main .content-wrap ul.main-menu .li-sobremim{
    animation: slideIn;
    animation-duration: 400ms;
    
}

#main .content-wrap ul.main-menu .li-uxui{
    animation: slideIn;
    animation-duration: 600ms;
}



#main .content-wrap ul.main-menu .li-branding{
    animation: slideIn;
    animation-duration: 800ms;
}

ul.main-menu li{
    margin-bottom:60px ;
    align-self: center;
    flex-wrap: nowrap;
    flex: 1;
   
}

ul.main-menu li a{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    color: #d4d4d4;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

ul.main-menu li a:hover{
    color: #0665ef;
    transition: all 250ms ease-in-out;
}




ul.main-menu li a svg{
    fill: #D4D4D4;
    width: 20px;
    height: 22px;
    margin-left: 8px;
    transition: all 250ms ease-in-out;
}
ul.main-menu li a:hover svg{
    fill: #0665ef;
    transition: all 250ms ease-in-out;
    transform: translateX(20px);
}
/*ul.main-menu li a::after{
    content: "";
    background: url('../img/arrow.svg') no-repeat 0px 14px;
    fill: #0665ef;
    margin-left: 10px;
    width: 40px;
    height: 30px;
    display: inline-block;
}*/


footer{
    align-self: baseline;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: slideInUp 1000ms;
    animation-timing-function: ease-in-out;
}

footer .telefone{
    font-size: 24px;
    font-weight: 300;
    color: #a5a5a5;
    align-self: center;
    margin-bottom: 6px;
}

footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-self: center;
}

footer ul li{
    border: 2px solid #0665ef;
    margin: 0;
    text-align: center;
    border-radius: 10px 0 0 10px ;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
footer ul li:hover{
    background: #0665ef;
    transition: all 250ms ease-in-out;
}

footer ul li:last-child{
    border-radius: 0 10px 10px 0 ;
    border-left: none;

}

footer ul li a{
    padding: 14px;
    display: block;
    width: 60px;
}

footer ul li a svg{
    width: 50px;
    fill: #0665ef;
    transition: all 250ms ease-in-out;
    transform: translateY(6px);
}

footer ul li:hover svg{
    fill: #fff;
    transition: all 250ms ease-in-out;
}

footer .email{
    align-self: center;
}

footer .email a{
    font-size: 22px;
    font-weight: bold;
    color: #0665ef;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-top: 10px;
}



 



@media only screen and (min-width: 600px) {
    .main-wrap{
        width: 960px;
        height: calc(100vh - 60px);
    }
    section.texto-sobremim div.empresas{
        width: 640px;
    }
}