@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #0D0D0D url('../img/bg.jpg') no-repeat;
    color: #B1B1B1;
    padding: 48px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

}



html{
    scroll-behavior: smooth;
    
}

a {
    cursor: pointer;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header img{
    width: 140px;
}

.sticky {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 24px;
    margin: 0;
    top: 0;
    left: 0;
    backdrop-filter: blur(40px);
    z-index: 99;
}

header ul.main-menu{
    display:flex;
    flex-direction: row;
    gap: 24px;
}

header ul.main-menu-mobile{
    display: none;
}

header ul.main-menu li a{
    font-size: 1rem;
    color: #8C8C8C;
    font-weight: 700;
    transition: all 150ms ease-in;
    position: relative;
    cursor: pointer;
}

header ul.main-menu li a:hover{
    color: #fff;
}


header ul.main-menu li a.active{
    color: #fff;
    padding-bottom: 12px;
}
header ul.main-menu li a.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0665EF;
    height: 6px;
    width: 100%;
}

header a.menu-mobile{
    background: url('../img/menu-hamb.svg') no-repeat;
    padding: 8px;
    width: 30px;
    height: 28px;
    display: none;
}

.menu-mobile-modal{
   display: none;
}


.buttons-top{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.buttons-top a{
    color: #AFAFAF;
    padding: 10px 16px;
    position: relative;
    padding: 8px 16px 8px 40px;
    border-radius: 26px;
    transition: all 150ms ease-in;
}

.buttons-top a::before{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 9px;

}

.buttons-top a.curriculo::before{
    background: url('../img/anexo-icon.svg');
}

.buttons-top a.linkedin::before{
    background: url('../img/linkedin-icon.svg');
}

.buttons-top a:hover{
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
}

section{
    margin: 20px auto;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1400px;
}

.section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    margin: 0 auto;
}

.section-title h1{
    color: #0665EF;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0 auto;
    display: block;
    width: auto;
    text-align: center;
}

.section-title p{
    font-size: 1.5rem;
    color: #7b7b7b;
    font-weight: 200;
    text-align: center;
}

.section-title p strong{
    color: #fff;
    font-weight: 200;
    font-size: 1.5rem;
}

section.hero{
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 40px;
    padding: 24px 80px;
    align-items: center;
    background: rgba(44, 44, 44, 0.598) url('https://media.giphy.com/media/MZWl5nSA0EM00/giphy.gif');
    border-radius: 24px;
    background-size: cover;
}

section.hero .main-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 580px;
}

section.hero .main-text h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 3.5rem;
}

section.hero .main-text h3 a{
    
    font-size: 3.5rem;
    text-decoration: underline;
    color: #0665EF;

    font-weight: 700;
}

section.hero .main-text h6 {
    color: #dddddd;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.5rem;
}


.processos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.processos div.card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #1D1D1D;
    width: 100%;
    border-radius: 24px;
    padding: 24px;
}

.processos div.card p{
    font-size: 1.2rem;
    color: #fff;
}

.processos div.card .title-process{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.processos div.card .title-process img{
    width: 100px;
}

.processos div.card .title-process h3{
    font-size: 1.8rem;
    color: #fff;
}

.processos div.card ul.topics{
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 16px;
}

.processos div.card ul.topics li{
    list-style: circle;
    line-height: 1.8rem;
}


.tools-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.tools-grid .tool-card{
    background: #1D1D1D;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    border-radius: 24px;
}

.tools-grid .tool-card .title-tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tools-grid .tool-card .title-tool h6{
    font-weight: 700;
    color: #fff;
    font-size: 1.2rem;
}

.tools-grid .tool-card .title-tool img{
    height: 34px;
}

.tools-grid .tool-card p{
    width: 100%;
    align-self: baseline;
}


.list-jobs{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.list-jobs .job-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #1D1D1D;
    max-width: 660px;
    border-radius: 24px;
    padding: 24px;
}

.list-jobs .job-card .title-job{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-jobs .job-card .title-job h3{
    font-size: 1.5rem;
    color: #fff;
}

.list-jobs .job-card .title-job img{
    width: 100px;
}

.list-jobs .job-card .title-job .periodo{
    color: #8C8C8C;
    font-size: 0.8rem;
}

.list-jobs .job-card p{
    color: #A7A7A7;
    line-height: 1.8rem;
}

.jobs-list{
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

.job{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    height: 80vh;
}

.job .infojob{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    background: #1D1D1D;
    border-radius: 24px;
    height: 100%;
    flex-grow: 3;
    padding: 24px;
}

    .job .infojob img{
        width: 100px;
    }

    .job .infojob h4.titlejob{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }

    .job .infojob p.descriptionjob{
        font-size: 1.1rem;
        color: #8C8C8C;
    }

    .job .infojob h6{
        font-size: 1.1rem;
        color: #fff;
        margin-bottom: 0;
    }

.job .galleryjob{
    width: 70%;
    display: grid;
    height: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        'img1 img1 img1 img1'
        'img2 img3 img4 img5';
    gap: 24px;
    justify-items: center;
}

.job .galleryjob div{
    
}

.job .galleryjob div img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 24px;
}
  
    .job .galleryjob .img1 { 
        width: 100%;
        grid-area: img1;
        height: 100%;
        min-height: fit-content;
    }
  
    .job .galleryjob .img2 { 
        width: 100%;
        grid-area: img2;
    }
    
    .job .galleryjob .img3 { 
        width: 100%;
        grid-area: img3;
     }
    
    .job .galleryjob .img4 { 
        width: 100%;
        grid-area: img4;
     }
    
    .job .galleryjob .img5 { 
        width: 100%;
        grid-area: img5;
     }
    

footer{
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer div h5{
    color: #414141;
    font-size: 1.8rem;
}

footer div a , footer div span{
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center ;
}



  
  #box {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    margin: 1000px auto 100px;
  }
  
  .animate {
    animation: animate .3s ease-in-out forwards;
  }
  
  @keyframes animate {
    from {
      background-color: cornflowerblue;
      border-radius: 0;
    }
    to {
      background-color: green;
      border-radius: 100px;
    }
  }










@media (max-width: 1300px)
{

    .processos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .processos div.card .title-process{
        display: flex;
        flex-direction: row;
        justify-self: space-between;
        align-items: center;
        height: 150px;
    }
    .processos div.card .title-process h3{
        text-align: left;
        width: 50%;
    }
    .processos div.card .title-process img{
        align-self: center;
        height: 90px;
        width: fit-content;
    }

   
}

@media (max-width: 1000px)
{
    body{
        padding: 24px;
    }

    header{
        gap: 16px;
    }

    

    header ul.main-menu-mobile{
        display:flex;
        flex-direction: row;
        gap: 24px;
    }

    header ul.main-menu{
        display: none;
    }
    
    

    header .buttons-top{
        display: none;
    }

    header a.menu-mobile{
        display: block;
    }

    header img {
        width: 130px;
    }

    .menu-mobile-modal{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(6, 101, 239, 0.8);
        padding: 24px;
        margin: 0;
        top: 0;
        left: 0;
        backdrop-filter: blur(40px);
        z-index: 999;
        display: none;
    }

    .menu-mobile-modal.active{
        display: block;
    }


    .menu-mobile-modal .main-menu-modal{
        display: flex;
        flex-direction: column;
        gap: 34px;
        margin-top: 60px;
    }

    .main-menu-modal li a{
        font-size: 2.2rem;
        color: #fff;
        font-weight: 700;
        transition: all 150ms ease-in;
        position: relative;
        cursor: pointer;
    }

    .buttons-top-modal{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
        margin-top:60px ;
    }


    .buttons-top-modal a{
        color: #fff;
        padding: 10px 16px;
        font-size: 1.8rem;
        position: relative;
        padding: 8px 16px 8px 40px;
        border-radius: 26px;
        transition: all 150ms ease-in;
    }

    .buttons-top-modal a::before{
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        left: 12px;
        top: 15px;
        background-repeat: no-repeat;
        
    }

    .buttons-top-modal a.curriculo::before{
        background: url('../img/anexo-icon.svg') no-repeat;
        
    }

    .buttons-top-modal a.linkedin::before{
        background: url('../img/linkedin-icon.svg') no-repeat;
    }

    .menu-mobile-modal .close{
        background: url('../img/close.svg') no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 24px;
        top: 24px;
    }

    .job{
        height: 100%;
    }


}



@media (max-width: 800px)
{

    body{
        padding: 24px;
    }

    header ul.main-menu{display: none;}

    section.hero{
        margin-top: 20px
    }

    

    section .section-title h1{
        font-size: 2.8rem;
    }

    section.hero .main-text h3{
        font-size: 2.4rem;
    }

    section.hero .main-text h3 a{
        font-size: 2.4rem;
    }

    section.hero .main-text h6{
        font-size: 1.4rem;
    }

    .processos{
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .tools-grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 24px;
    }

    .tools-grid .tool-card{
        width: 100%;
        height: auto;
        gap: 16px;
    }

    header ul.main-menu{
       gap: 16px;
       align-items: center;
    }

    header ul.main-menu li{
        text-align: center;
    }

    header ul.main-menu li a{
        font-size: 0.8rem;
        text-align: center;
    }

    header .buttons-top{
        display: none;
    }

    header a.menu-mobile{
        display: block;
    }

    footer{
        flex-direction: column;
        gap: 32px;
    }

    footer div , footer div a , footer div span{
        text-align: center;
        margin: 0 auto;
    }

    .job{
        
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-flow: column;
        width: 100%;
        gap: 16px;
        height: auto;
        flex-grow: 1
    }

    .job .infojob{
        width: 100%;
    }

    .job .galleryjob{
        width: 100%;
        height: -webkit-fill-available;
        gap: 16px;
        
    }


}